/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* Header */
header {
  background: #005691;
  color: #fff;
  padding-bottom: 10px;
}

nav {
  display: flex;
  justify-content: left; /* Adjusted to flex-end to remove redundancy */
  padding: 10px;
  border-bottom: 1px solid #fff; /* Preserved border style */
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centered navigation items */
  padding: 10px 0;
}

nav ul li {
  margin-left: 20px; /* Adjusted for consistent spacing */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #4CAF50; /* Example hover color */
}

#hero {
  background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
  height: 100vh;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  margin-bottom: -10px;  
}

#hero h1, #hero h4 {
  text-align: center;
  margin: 20px 0;
  font-size: 4rem;
  color: #fff;
  padding: 10px;
}
#hero h4 {
  margin-top: 0px;
  font-size: 3.5rem;
  color: #4CAF50;
}

/* Projects */
#projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.project {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  width: 20%;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project h3 {
  color: #005691;
}

.project p, .details p {
  color: #666;
  padding: 10px;
}

.project img {
  width: 400px;
  height: 200px;
  border: 1px solid #005691; 
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  bottom: 0;
  width: 100%;
}

.details {
  font-size: 1.2rem;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  display: inline-flex; /* Adjusted for consistent display */
  flex-direction: column;
  width: calc(33.333% - 40px);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}