*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 110%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont;
  color: rgb(20, 30, 40);
  background-color: whitesmoke;
}

#header {
    width: 100%;
    height: 50px;
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
  }
  
  #header-img {
    width: max(100px, 18vw);    
    padding: 0.4rem;
    width: 2.5%
  }
  
  nav {
    width: 50%;
    max-width: 300px;
    height: 50px;
  }
  
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  nav > ul > li {
    color: ;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  nav > ul > li:hover {
    background-color: rgba(20, 30, 40, 0.9);;
    color: whitesmoke;
    cursor: pointer;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }
a {
    text-decoration: none;
    color: black;
}
.Hero {
    text-align: center;
    margin: 1%; 
    margin-top: 2.5%;    
}
#form {
    font-size: 1.7rem;
    margin-bottom: 2.5%;
}
#email {
    font-size: 1.1rem;
    padding: 3px;
}
#submit {
    padding: 3px;
    font-size: 0.9rem;
}
#video {
    border: solid gray 3px;
    padding: 0px;
    width: 40%;
}
hr {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
}
#features {
    margin: 2%;
    display: flex;
}
.stat {
    text-align: center;
    border: solid black 1px;
    border-radius: 4%;
    width: 20%;
    height: auto;
    font-size: 1.7rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
    background: lightgray;
}
h2 {
    font-size: 2.7rem;
}
table {
    border: solid black 1px;
    background-color: lightgray;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 1%;
    font-size: 1.5rem;
    text-align: center;
}
th, td{
    padding: 7px;
}
footer {
    text-align: center;
padding: 1%;
    background-color: lightgray;
    width: 100%;
    border-top: solid black 1px;
    margin-left: auto;
    margin-right: auto;
    
}
@media (max-width: 1000px) {
    footer {
        width: 100%;
    }
}
